body {
    font-family: 'Barlow', sans-serif;
    margin: 0%;
}

/* header styles */
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 60px;
    padding: 150px;
    margin: 0%;
}

.banner {
    height: 400px;
    width: auto;
    background-image: url(../Images/Banner-Images/Marviless-Journey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    overflow: hidden;
    background-color: #14111D;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo {
    float: left;
    padding: 0%;
    margin: 0%;
    height: 55px;
    width: 30%;
}

#logo img {
    width: 120px;
    float: left;
    padding: 5px 10px;
}

/* nav styles */
nav {
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    float: right;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
    margin: .25em;
}

nav ul li a.active,
nav ul li a:hover {
    color: #E9B820;
    transition: .3s;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 0%;
    margin: 0%;
}

nav ul li {
    font-size: .9em;
    text-transform: uppercase
}

/* Menu Icon */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #2B243D;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1;
}

.menu__item {
    display: none;
    padding: 12px 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #E9B820;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #161033;
    color: white;
    border: 1px solid #E9B820;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #161033;
    padding: 20px;
    margin: 10px;
}

/* Text Color */
label {
    color: #E9B820;
}

/* main styles */

.section-2 {
    display: flex;
    flex-direction: row;
    background-color: #241A47;
    padding: .5em;
}

.section-2-description {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

h2,
h3,
p {
    color: white;
    text-align: center;
    margin: 0%;
    padding: .3em;
}

p {
    margin-bottom: 0%;
}

p a {
    color: #E9B820;
    text-decoration: none;
}

img {
    padding: 0%;
    justify-content: center;
}

.button-container {
    padding: 20px;
    text-align: center;
}

a.button {
    background-color: #E9B820;
    border-radius: 10px;
    color: black;
    padding: 16px 18px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}


/* footer styles */

footer {
    background-color: #483A7C;
    height: 60px;
}

.social-nav {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0%;
}

.social-nav li {
    padding: 5px 10px 0px 10px;
}

/* mobile styles */

@media screen and (max-width: 480px) {

    .banner {
        width: auto;
    }

    .banner h1 {
        padding: 10px;
        font-size: 50px;
    }

    .section-2 {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li a {
        display: none;
    }

    p {
        padding: .5em;
    }

}

@media screen and (max-width: 550px) {

    .section-2 {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 679px) {

    h1 {
        padding: 0%;
    }
    
    .section-2 {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-2-image {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 90%;
    }
}

@media screen and (min-width: 680px) {

    .section-2 {
        padding: 3% 7%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 770px) {

    nav ul li a {
        display: none;
    }

    .hamburger-menu,
    .menu__toggle,
    .menu__btn,
    .menu__box,
    .menu__item {
        display: block;
    }

    img {
        width: 100%;
    }

}

@media screen and (min-width: 771px) {

    nav ul li a {
        display: block;
    }

    .hamburger-menu,
    .menu__toggle,
    .menu__btn,
    .menu__box,
    .menu__item {
        display: none;
    }

    .section-2 {
        padding: 3% 9%;
    }

    img {
        width: 100%;
    }

}


@media screen and (min-width: 1200px) {

    .section-2 {
        padding: 3% 15%;
    }

}

@media screen and (min-width: 1600px) {

    .section-2 {
        padding: 3% 25%;
    }

}